body{
    background: #C80727;
}
div#topBar{
    height: 80px;
    width: 100% ;
    background: #C80727;
    padding: 10px 0 0 30px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.400);

    position: absolute;
    left: 0;
    top: 0;
}

div#camera{
    width: 60px;
    height: 60px;
    border: 5px solid #fff;
    float: left;
    
    background: radial-gradient(#05fbfb, #29abe3);
    background: -webkit-radial-gradient(#05fbfb, #29abe3);
    background: -moz-radial-gradient(#05fbfb, #29abe3);
    background: -o-radial-gradient(#05fbfb, #29abe3);
    
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
}

div#curve1{float:left}
div#redButton{
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 50px;
    align-items:flex-start ;
    float: left;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    
    background: radial-gradient(#fb7b7b, #fb0505);
    background: -webkit-radial-gradient(#fb7b7b, #fb0505);
    background: -moz-radial-gradient(#fb7b7b, #fb0505);
    background: -o-radial-gradient(#fb7b7b, #fb0505);
}

div#yellowButton{
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 30px;
    margin-left: 30px;
    float: left;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    
    background: radial-gradient(#fbfb9b, #fbfb05);
    background: -webkit-radial-gradient(#fbfb9b, #fbfb05);
    background: -moz-radial-gradient(#fbfb9b, #fbfb05);
    background: -o-radial-gradient(#fbfb9b, #fbfb05);
}

div#greenButton{
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    
    background: radial-gradient(#b0fb7b, #50fb05);
    background: -webkit-radial-gradient(#b0fb7b, #50fb05);
    background: -moz-radial-gradient(#b0fb7b, #50fb05);
    background: -o-radial-gradient(#b0fb7b, #50fb05);
}

div#barrinha{
    width: 80px;
    margin-top: 40px;
    position:absolute ;
    left: 150px;
}
input[name="pesquisa"]{
    width: 280px;
    border-radius: 20px;
    background: #AD0622;
    float: left;
}

input[name="searchButton"]{
    float: right;
    margin:1em;
    border:none;
    padding:0.25em 3em 0.25em 1em;
    text-align:left;
    background:
      linear-gradient(-120deg, transparent 1em, #AD0622 1.05em , #AD0622 1.5em, transparent 1.45em, transparent 2em, #AD0622 2.05em) top no-repeat,
      linear-gradient(300deg, transparent 1em, #AD0622 1.05em , #AD0622 1.5em, transparent 1.45em, transparent 2em, #AD0622 2.05em) bottom no-repeat ;
    background-size: 100% 50%;
    color:white
  
}
