.topBar {
  height: 80px;
  width: 100% ;
  padding: 10px 0 0 30px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 0;
  top: 0;
}

.lista {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 7rem auto 3rem auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  position: relative;
}

.pokeCard{
  width: 229px;
  height: 292.2px;
  border-radius: 5px;
  background: #C4C4C4;
  color: #1F1F1F;
  box-sizing: border-box;
  border: 1px solid black;
  align-items: center;
  margin: 1rem auto 1rem auto;
}

.pokeCard:hover,
.pokeCard:focus,
.pokeCard:active{
  color: white;
  border-color: white;
}

.pokeCard p{
  margin: 12px 0 0 7.55px;
  font-size: 21px;
}

.pokeCard span{
  margin: 9.55px 0 0 7.55px;
  font-size: 18px;
}

.pokeCard img{
  margin:7.55px 0 0 7.55px;
  border-radius: 5px;
  background: #ebebeb;;
}

.typeCard{
  width: 40px;
  font-size: 12px;
  padding: 5px 10px 5px 10px ;
  border-radius: 10px;
  color: #1F1F1F;
}

.stickersSpecific{
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: #ebebeb;
}

.camera{
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  float: left;
  border-radius: 35px;
  background: radial-gradient(#05fbfb, #29abe3);
  background: -webkit-radial-gradient(#05fbfb, #29abe3);
  background: -moz-radial-gradient(#05fbfb, #29abe3);
  background: -o-radial-gradient(#05fbfb, #29abe3);
}

.redButton,
.yellowButton,
.greenButton{
  width: 15px;
  height: 15px;
  margin-top: 5px;
  float: left;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

.redButton{
  margin-right: 10px;
  margin-left: 50px;
  background: radial-gradient(#fb7b7b, #fb0505);
  background: -webkit-radial-gradient(#fb7b7b, #fb0505);
  background: -moz-radial-gradient(#fb7b7b, #fb0505);
  background: -o-radial-gradient(#fb7b7b, #fb0505);
}

.yellowButton{
  margin-right: 30px;
  margin-left: 30px;
  background: radial-gradient(#fbfb9b, #fbfb05);
  background: -webkit-radial-gradient(#fbfb9b, #fbfb05);
  background: -moz-radial-gradient(#fbfb9b, #fbfb05);
  background: -o-radial-gradient(#fbfb9b, #fbfb05);
}

.greenButton{
  margin-top: 5px;
  margin-left: 10px;
  background: radial-gradient(#b0fb7b, #50fb05);
  background: -webkit-radial-gradient(#b0fb7b, #50fb05);
  background: -moz-radial-gradient(#b0fb7b, #50fb05);
  background: -o-radial-gradient(#b0fb7b, #50fb05);
}

.searchArea{
  width: 460px;
  margin-top: 40px;
  position:absolute ;
  left: 140px;
}
.searchBar{
  width: 360px;
  border-radius: 20px;
  background: #AD0622;
  color: white;
}

.searchButton{
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-left: 30px;
  font-size: 10px;
  background:#C80727;
  color:white;
}