.topBar {
  height: 80px;
  width: 100% ;
  padding: 10px 0 0 30px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 0;
  top: 0;
}

.lista {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 7rem auto 3rem auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  position: relative;
}

.pokeCard{
  width: 229px;
  height: 292.2px;
  border-radius: 5px;
  background: #C4C4C4;
  color: #1F1F1F;
  box-sizing: border-box;
  border: 1px solid black;
  align-items: center;
  margin: 1rem auto 1rem auto;
}

.pokeCard:hover,
.pokeCard:focus,
.pokeCard:active{
  color: white;
  border-color: white;
}

.pokeCard p{
  margin: 12px 0 0 7.55px;
  font-size: 21px;
}

.pokeCard span{
  margin: 9.55px 0 0 7.55px;
  font-size: 18px;
}

.pokeCard img{
  margin:7.55px 0 0 7.55px;
  border-radius: 5px;
  background: #ebebeb;;
}

.typeCard{
  width: 40px;
  font-size: 12px;
  padding: 5px 10px 5px 10px ;
  border-radius: 10px;
  color: #1F1F1F;
}

.stickersSpecific{
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: #ebebeb;
}

.camera{
  width: 60px;
  height: 60px;
  border: 5px solid #fff;
  float: left;
  border-radius: 35px;
  background: radial-gradient(#05fbfb, #29abe3);
  background: -webkit-radial-gradient(#05fbfb, #29abe3);
  background: -moz-radial-gradient(#05fbfb, #29abe3);
  background: -o-radial-gradient(#05fbfb, #29abe3);
}

.redButton,
.yellowButton,
.greenButton{
  width: 15px;
  height: 15px;
  margin-top: 5px;
  float: left;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

.redButton{
  margin-right: 10px;
  margin-left: 50px;
  background: radial-gradient(#fb7b7b, #fb0505);
  background: -webkit-radial-gradient(#fb7b7b, #fb0505);
  background: -moz-radial-gradient(#fb7b7b, #fb0505);
  background: -o-radial-gradient(#fb7b7b, #fb0505);
}

.yellowButton{
  margin-right: 30px;
  margin-left: 30px;
  background: radial-gradient(#fbfb9b, #fbfb05);
  background: -webkit-radial-gradient(#fbfb9b, #fbfb05);
  background: -moz-radial-gradient(#fbfb9b, #fbfb05);
  background: -o-radial-gradient(#fbfb9b, #fbfb05);
}

.greenButton{
  margin-top: 5px;
  margin-left: 10px;
  background: radial-gradient(#b0fb7b, #50fb05);
  background: -webkit-radial-gradient(#b0fb7b, #50fb05);
  background: -moz-radial-gradient(#b0fb7b, #50fb05);
  background: -o-radial-gradient(#b0fb7b, #50fb05);
}

.searchArea{
  width: 460px;
  margin-top: 40px;
  position:absolute ;
  left: 140px;
}
.searchBar{
  width: 360px;
  border-radius: 20px;
  background: #AD0622;
  color: white;
}

.searchButton{
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-left: 30px;
  font-size: 10px;
  background:#C80727;
  color:white;
}


/* Página Escífica */
/*
<specificContainer>
  <column1>
    <imageBox/>
    <statistics/>
  </column1>

  <column2>
    <h1></h1>
    <dataBox/>
    <h2> <stickersSpecific/> </h2>
  </column2>
</specificContainer>
 */
.specificContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 8rem auto 3rem auto;
  position: absolute;
  top: 20rem;
  left: 12.5%;
}
.column1,
.column2{
  width: 45%;
  position: absolute;
  color: #ebebeb;
}

.column1{
  left: 0;
  font-size: small;
}
.column2{
  right: 0;
}
.column2 h1{
  text-shadow: 2.5px 2.5px #1f1f1f4f;
}

.imageBox{
  width: 420px;
  height: 350px;
  border-radius: 10px;
  background: #ebebeb;
  border: 1px solid black
}
.imageBox img{
  width: 400px;
  height: 330px;
  background: #c4c4c4;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black
}

.statistics{
  width: 420px;
  height: 250px;
  background: #ebebeb;
  border-radius: 10px;
  margin-top: 30px;
  border: 1px solid black;
  /* Esse vai ser osso */
}

.gridStatistics{
  width: 400px;
  height: 240px;
  margin: 5px 10px 5px 10px;
  background: #c4c4c4;
  border-radius: 10px;
  position: absolute;
}

.dataBox{
  display: flex;
  width: 330px;
  height: 230px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background: #c4c4c4;
  color: #1f1f1f;
  border: 1px solid black;
  border-radius: 10px;
}
.caseBox{
  width: 350px;
  height: 250px;
  background: #ebebeb;
  border: 1px solid black;
  border-radius: 10px;
}

.column1Data,
.column2Data{
  text-align: center;
  width: 100px;
  height: 180px;
  font-size: large;
  /* margin: 25px 30px 25px 15px ; */
}
.column1Data{
  margin: 0 0 0 -20px;
}

.missgnoImg {
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 100px;
}

.stickersArea{
  text-shadow: 2.5px 2.5px #1f1f1f4b;
}

.notFound {
  padding: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%
}

.notFound h1{
  align-self: center;
  border: 0 0 1px 0 solib black;
}

.notFound section {
  align-self:center;
  width: 70%;
}